1. Check if it possible to break down each resource in separate files for better organization
2. void hard-coded URLs according to recommended best practices. https://aka.ms/bicep/linter/no-hardcoded-env-urls
3. Upgrade PSModules to: az.accounts.2.5.1.nupkg and az.storage.2.0.0.nupkg
4. Ensure VHD is copied and attached properly to the new VM. Check the following link https://help.zscaler.com/zia/nss-deployment-guide-microsoft-azure (Use Azure Storage Explorer or PowerShell to Copy the OS Disk VHD Files to Your Azure Storage Account)
5. MGMT Interface should acquire a public Dynamic IP
6. Service Interface should only acquire a private IP and be behind a NAT Gateway
7. Deploy a single NAT Gateway based on condition ”New or Existing”
8. Added option to authenticate via username and password and public key


API Key Name = nss-azure-deploy
ZSCANNER_CLIENT_ID=NoRJEAKB9DEel8qcZnIU9zelaiSLbmpU
ZSCANNER_CLIENT_SECRET=Lqelva2KA0F23f0SX85BwqcYNGPdW9ckRMd5k_moNZwGHTNoQVZBLBFiktxmMwNL

API Key Name = nss-azure-deploy-pipeline
clientId=tbOn8a512MSTLFLzuHWgG8TW8TOUbNwO
clientSecret=MTjg0xE9ohct_KJ3rgTRPHxprjsLYxufw_aqXRysqwz70q0Yjcc_KHfVSaZaDYYh


See the article below
https://help.zscaler.com/zia/nss-deployment-guide-microsoft-azure

North America Region
https://zsprod.blob.core.windows.net/nss/znss_5_0_osdisk.vhd
sastok=?sv=2019-02-02&ss=b&srt=sco&sp=rl&se=2023-03-12T09:20:42Z&st=2020-03-12T00:20:42Z&spr=https&sig=p6OHCAv5Rxax9i1F%2BLaYBDmvUNI64VZGtDHcm9CsE0Y%3D


Australia Region
https://zsprodau.blob.core.windows.net/nss/znss_5_0_au_osdisk.vhd
sastok=?sv=2019-02-02&ss=b&srt=sco&sp=rl&se=2023-03-12T09:23:38Z&st=2020-03-12T00:23:38Z&spr=https&sig=cYA2uehM1d8Y%2B%2FJfTbeFMj%2B%2FGx1iYkDkCXQ6JhiJ4kc%3D


Europe Region
https://zsprodeu.blob.core.windows.net/nss/znss_5_0_eu_osdisk.vhd
sastok=?sv=2019-02-02&ss=b&srt=sco&sp=rl&se=2023-03-12T09:14:30Z&st=2020-03-12T00:14:30Z&spr=https&sig=u5yagWaZdC343ZOcFkefwKTrkNT07Gs3qx3Y3YeCda0%3D